main{
  background-color: rgba(118, 114, 11, 0.66);
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
}

h2{
  font-size: 4rem;
  font-weight: 400;
}

h4{
  text-align: center;
  font-size: 35px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 10px
}

.interval-container{
  
  display:flex;
  margin: 0 50px;
  align-items: center;
}

.interval-length-container{
  display:flex;
  justify-content:space-between;
}

button {
  padding: 6px 18px;
  margin: 0 10px;
  height: 35px;
  background-color: rgb(5, 80, 101);
  color:honeydew;
  cursor: pointer;
  border-radius: 20px;
  width: 100px;
  transition: transform .2s;
  outline:none;
}

button:hover {
  transform: scale(1.1);
}

.break-length{
  font-size:30px;
  margin: 0 10px;
}

.session-length{
  font-size:30px;
  margin: 0 10px;
}

.timer-container {
  border: solid black 1px;
  border-radius: 25px;
  height:150px;
  width:300px;
  justify-content: center;
  text-align: center;
  margin: 40px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.timer{
  font-size: 60px;
}

.timer-actions{
  text-align: center;
}